
/* Set primary and secondary colors */
.root {
    -fx-base: #bdbdbd;
    -fx-accent: #b4a871;
}

.table-view {
    -fx-background-color: -fx-base;
    -fx-border-radius: 20px;

}

.table-row-cell:selected {
    -fx-background-color: -fx-accent;
}